[alias]
	ss = status -s
	s = status
	sss = status -s
	comit = commit
	co = checkout
	tree = log --graph --all --format='%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s'
[user]
	email = s.zerogoichi@gmail.com
	name = masuke5
[core]
	editor = nvim
[credential]
	helper = wincred
